.back-button {
    margin: 0;
    margin-bottom: 10px;
}

.title {
    display: flex;
    gap: 10px;

    img {
        width: 80px;
        height: 80px;
    }

    .badge-container {
        display: flex;
        gap: 10px;

        .badge {
            background-color: cornflowerblue;
            height: 25px;
            border-radius: 5px;
            color: white;
            padding: 2px 5px;
        }
    }
}

.job-details {
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
        margin: 0;
    }
}